@use "../../../../mixins/fonts";
@use "../../../../mixins/colors";

.loginForm {
    max-width: 360px;

    >p {
        width: 100%;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;

        >input,
        >button {
            height: 24px;
            border-radius: 2px;
            background-color: colors.$modal-fg;
            box-shadow: 0 0 2px 1px rgba(255, 255, 255, .5);
            color: rgba(255, 255, 255, .8);
        }
        
        >input {
            width: 48%;
            margin: 1% auto;
            text-align: center;
            transition-duration: .1s;
            border: 1px solid rgba(255, 255, 255, .5);
            
            &[name="rePassword"] {
                width: 94%;
            }
        }
        
        >button {
            width: 98%;
            margin: 6px auto;
        }
    }
}