$size: 28px;

.toggleButtonContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;

	.toggleButtonBg {
		width: $size;
		height: $size;
		background-color: #A0A0A0;
		transition-duration: .15s;
	}

	.toggleButtonLeft, .toggleButtonRight {
		border-radius: 50%;
	}

	.toggleButtonCenter {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.toggleButtonIndicator {
		position: absolute;
		width: $size;
		height: $size;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
		transition-duration: .08s;
		border-radius: 50%;
		border: none;
	}
}
