.errorModalContainer {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 20px;
    background-color: purple;
    z-index: 1;
    
    .errorModalInternal {
        display: flex;
        flex-direction: column;

        .error {
            
        }
    }
}