.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    > div {
        left: 0;
        top: 0;
        padding-bottom: 20%;
    }

    .scoreInputContainer {
        width: 100%;
        max-width: 280px;
        background-color: black;
        padding: 20px 30px 30px;
        border-radius: 5px;

        p {
            width: calc(100% - 20px);
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            letter-spacing: .5px;
            overflow: hidden;
        }

        .insertScoreContainer {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;

            .scoreInput {
                height: 32px;
                margin: 20px 0;
                text-align: center;
                font-size: 20px;
                border-radius: 2px;
            }

            .insertScoreButton {
                background-color: transparent;
                box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, .4);
                border-radius: 2px;

                svg {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}