.scoreColumn {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px calc(100% - 63px) 28px;
    border-right: 1px solid #818181;
    border-top: 2px solid #818181;

    &:last-of-type {
        border-right: none;
    }
}