$button-bg: rgba(0, 0, 0, .8);

$modal-bg: #252527;
$modal-fg: rgba(0, 0, 0, 0.2);
$modal-border-color: rgba(255, 255, 255, 0.5);
$modal-box-shadow: rgba(255, 255, 255, 0.5);

$secondary-font-color: rgba(255, 255, 255, .8);
$message-container-box-shadow: rgba(255, 255, 255, 0.8);