@mixin main-components-style {
    width: 100%;
    display: flex;
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    box-shadow: inset 0 0 2px 0px rgba(255, 255, 255, .5);
};

$additional-height: 1.4312977099236641vh;