.gameSettings {
    width: 100%;
    max-width: 320px;

    .settingsSection {
        width: 100%;

        >div {
            width: 100%;
            margin-top: 10px;
            gap: 5vw;
        }
    }
}