.gameSettings {
    width: 100%;
    min-width: 200px;
    max-width: 320px;
    padding: 24px;
    background-color: rebeccapurple;
    border-radius: 5px;

    .settingsSection {
        width: 100%;

        >div {
            width: 100%;
            margin-top: 10px;
            gap: 5vw;
        }
    }
}