.menu-modal-container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(.1, .05);
	// transition-duration: .2s;
	transition: opacity .1s linear;
	animation-iteration-count: 1;
	animation-duration: .12s;
	animation-delay: .1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3;

	.menu-modal {
		position: absolute;
		left: 50vw;
		top: 50vh;
		width: 90%;
		height: 95%;
		padding: 15px;
		color: white;
		background-color: #303030;
		transform: translate(-50%, -50%);
		border-radius: 2px;

		.close-button {
			position: absolute;
			right: 12px;
			top: 12px;
			background-color: transparent;
			border: none;
			
			.close-button-icon {
				width: 20px;
			}
		}

		.menu-option-container {
			width: 100%;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;

			.players-select-title {
				margin: auto auto auto 0;
			}

			.info-icon {
				height: 100%;
				width: 20px;
			}
		}

		.checkbox-container {
			width: 100%;
			// border: 1px solid red;
			
			.checkbox-internal {
				width: 100%;
				height: 25px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}

@keyframes open {
	0% {transform: scale(.1, .05)};
	100% {transform: scale(1, 1)};
}

@keyframes close {
	0% {transform: scale(1, 1)};
	100% {transform: scale(.1, .05)};
}